/* *{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
}
.title{
    text-align: center;
} */

.Footer
{
    position:fixed;
    left:0px;
    margin-bottom:0px !important;
    height:30px;
    width:100%;
}
.footer-container {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    
}
